.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px  ;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: antiquewhite;
}
.a,.b,.c,.d,.e,.f{
    align-content: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background-color: white;
    box-shadow: 1px 1px 1px lightslategray;
    transition: 0.5s ease;
}
.a{
    color: rgb(208, 185, 111);
    border-left:2px solid rgb(208, 185, 111);
}
.b{
    color: rgb(111, 208, 195);
    border-left: 2px solid rgb(111, 208, 195);
}
.c{
    color: rgb(208, 111, 190);
    border-left: 2px solid rgb(208, 111, 190);
}
.d{
    color: rgb(161, 208, 111);
    border-left: 2px solid rgb(161, 208, 111);
}
.e{
    color: rgb(208, 111, 111);
    border-left: 2px solid rgb(208, 111, 111);
}
.f{
    color: rgb(156, 111, 208);
    border-left: 2px solid rgb(156, 111, 208);
}
.a:hover{
    background-color: rgb(208, 185, 111);
    color: white;
}
.b:hover{
    background-color: rgb(111, 208, 195);
    color: white;
}
.c:hover{
    background-color: rgb(208, 111, 190);
    color: white;
}
.d:hover{
    background-color: rgb(161, 208, 111);
    color: white;
}
.e:hover{
    background-color: rgb(208, 111, 111);
    color: white;
}
.f:hover{
    background-color: rgb(156, 111, 208);
    color: white;
}
